In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("winequality-red.csv")

In [4]:
data.shape

(1599, 12)

In [5]:
column = data.columns

In [6]:
column

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [7]:
# The dataset shows the ranking of the quality of the dataset from 0-10 0 being the lowest and 10 being the highest

In [8]:
data["quality"].value_counts()

quality
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [9]:
# Three classes low medium and high
# 0-3 -> low class
# 4-6 -> medium class
# 7-10 high class

In [10]:
ranges = [0, 4, 6, 10]
labels = ["low", "medium", "high"]

In [45]:
data['quality_label'] = np.select(
    [data['quality'].between(ranges[i], ranges[i+1], inclusive='right') for i in range(len(labels))],
    labels,
    default=''
)

In [48]:
df_y = data["quality_label"]

In [50]:
df_y = df_y.values.reshape(-1, 1)

In [26]:
data["quality_label"].value_counts()

quality_label
medium    1319
high       217
low         63
Name: count, dtype: int64

In [27]:
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_label
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,medium
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,medium
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,medium
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,medium
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,medium
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,medium
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,medium
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,medium
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,medium

In [44]:
df_y.shape

(1599,)

In [29]:
df_x = data.drop(columns=["quality", "quality_label"])

In [20]:
# Entropy
from sklearn.tree import DecisionTreeClassifier

In [21]:
classifier = DecisionTreeClassifier(criterion="entropy")

In [22]:
from sklearn.model_selection import train_test_split

In [37]:
data.shape

(1599, 13)

In [53]:
train_x, test_x, train_y, test_y = train_test_split(df_x, df_y, test_size=1/3, random_state=44)

In [ ]:
total_train = pd.concat([train_x, train_y], axis=1)